In [1]:
import pandas as pd

In [2]:
uri = '../data/results_grid_search.csv'
df = pd.read_csv(uri)
df

,n_estimators,max_depth,min_samples_leaf,min_samples_split,bootstrap,MAE,MSE,year,ws_1,temp_2,temp_1,average
0,200,3,1,2,True,3.732239,23.370414,0.000000,0.000371,0.000000,0.962514,0.037115
1,400,3,1,2,True,3.728483,23.342930,0.000000,0.000281,0.000000,0.968129,0.031590
2,600,3,1,2,True,3.723924,23.280677,0.000000,0.000259,0.000000,0.962546,0.037194
3,200,3,1,5,True,3.732239,23.370414,0.000000,0.000371,0.000000,0.962514,0.037115
4,400,3,1,5,True,3.728483,23.342930,0.000000,0.000281,0.000000,0.968129,0.031590
...,...,...,...,...,...,...,...,...,...,...,...,...
535,400,60,4,5,False,4.654634,35.930937,0.012183,0.024846,0.014019,0.903152,0.045800
536,600,60,4,5,False,4.654566,35.930697,0.012183,0.024847,0.014018,0.903152,0.045800
537,200,60,4,10,False,4.626420,35.257963,0.011605,0.023505,0.013135,0.907410,0.044345
538,400,60,4,10,False,4.626529,35.258697,0.011605,0.023506,0.013133,0.907410,0.044345
539,600,60,4,10,False,4.626602,35.259222,0.011605,0.023507,0.013133,0.907410,0.044345